# Twitter Access Credentials
TWITTER_APP_KEY=<your app's consumer key>
TWITTER_APP_SECRET=<your app's consumer secret>
TWITTER_OAUTH_TOKEN=<twitter user's access token>
TWITTER_OAUTH_TOKEN_SECRET=<twitter user's access token secret>
